<button mat-stroked-button (click)="search()" class="search-button">Search</button>
<div class="search-examples">
    Examples: <a (click)="searchExample('TTN')">TTN</a> or <a (click)="searchExample('TP53')">TP53</a> or <a (click)="searchExample('WASH7P')">WASH7P</a>
</div>
<i (click)='clearFilter()' class="reset material-icons">refresh</i>
<app-search-bar-clinical [options]="{autofocus: false}" [action]='addGene'></app-search-bar-clinical>
<mat-form-field class="chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let query of queries" color="accent"
               [removable]="removable" (removed)="remove(query.term)" [ngClass]="{'chip-red': !query.verified}">
        {{query.term}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Genes"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
             (paste)="paste($event)">
    </mat-chip-list>
</mat-form-field>

<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
      <mat-form-field [style.width.px]=70>
        <mat-label>Ref</mat-label>
        <input matInput [(ngModel)]="searchBarService.refInput">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field [style.width.px]=70>
        <mat-label>Alt</mat-label>
        <input matInput [(ngModel)]="searchBarService.altInput">
      </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-error *ngIf="searchBarService.refInput !== '' && searchBarService.altInput !== '' && searchBarService.refInput.toUpperCase() === searchBarService.altInput.toUpperCase()">Ref and Alt must be different</mat-error>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-error *ngIf="checkErrorRefAlt(searchBarService.refInput) || checkErrorRefAlt(searchBarService.altInput)">Ref and Alt can only contain A, C, T, or G</mat-error>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="60px">
  <mat-grid-tile>
    <mat-checkbox [(ngModel)]="searchBarService.hetInput" [disabled]="!searchBarService.homInput">Het</mat-checkbox>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-checkbox [(ngModel)]="searchBarService.homInput" [disabled]="!searchBarService.hetInput">Hom</mat-checkbox>
</mat-grid-tile>
</mat-grid-list>

<!--<mat-grid-list cols="1" rowHeight="80px">
  <mat-grid-tile>
      <mat-checkbox [(ngModel)]="searchBarService.conj">Select variants common in all samples</mat-checkbox>
  </mat-grid-tile> 
  <mat-grid-tile>
      <mat-checkbox [(ngModel)]="searchBarService.conjSamples">Select samples with variants in all selected regions</mat-checkbox>
    </mat-grid-tile>
</mat-grid-list>-->

<mat-grid-list cols="1" rowHeight="7:1">
  <mat-grid-tile>
      <label>Select variants in samples: </label>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="2">
    <mat-radio-group [(ngModel)]="searchBarService.conj">
      <mat-radio-button [value]="false" matTooltip="Select variants in any samples" matTooltipPosition="after" style="margin-bottom: 7px;">union</mat-radio-button>
      <br />
      <mat-radio-button [value]="true" matTooltip="Select variants common in all samples" matTooltipPosition="after">intersection</mat-radio-button>
    </mat-radio-group>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="7:1">
    <mat-grid-tile>
        <label>Select samples with variants: </label>
    </mat-grid-tile> 
    <mat-grid-tile [rowspan]="2">
      <mat-radio-group [(ngModel)]="searchBarService.conjSamples">
        <mat-radio-button [value]="false" style="margin-bottom: 7px;">in any selected regions</mat-radio-button>
        <br />
        <mat-radio-button [value]="true">in all selected regions</mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>
</mat-grid-list>



<mat-form-field>
  <mat-label>Select Panel</mat-label>
  <mat-select [(ngModel)]="searchBarService.panelGroup" (selectionChange)="onChange($event)">
      <mat-option value=''>None</mat-option>
      <mat-option *ngIf="permitted && COHORT_PERMISSION_VSAL_PHENO_MAPPING[selectedCohort] !== ''" value='agha'>Aus Genomics</mat-option>
      <mat-option value='genomicEngland'>Genomics England</mat-option>
      <mat-option value='panelApp'>PanelApp Australia</mat-option>
  </mat-select>
</mat-form-field>
<app-gene-panels *ngIf="permitted && searchBarService.panelGroup==='agha'" [selectedPanelGroup]='searchBarService.panelGroup' [selectedGenePanel]='searchBarService.panel'></app-gene-panels>
<app-gene-panels *ngIf="searchBarService.panelGroup==='genomicEngland'" [selectedPanelGroup]='searchBarService.panelGroup' [selectedGenePanel]='searchBarService.panel'></app-gene-panels>
<app-gene-panels *ngIf="searchBarService.panelGroup==='panelApp'" [selectedPanelGroup]='searchBarService.panelGroup' [selectedGenePanel]='searchBarService.panel'></app-gene-panels>