<div class="right-side">
    <nav>
        <a routerLink="/search" routerLinkActive="is-active" [class.disabled]="cohortAccessSummary.includes(cohort) && availableBuild[build].includes(cohort) ? null : true">Summary</a>
        <a [routerLink]="['/explore', build, cohort]" routerLinkActive="is-active" [class.disabled]="cohortAccessSummary.includes(cohort) && availableBuild[build].includes(cohort) ? null : true">Explore</a>
        <a routerLink="/clinical" routerLinkActive="is-active" [class.disabled]="cohortAccessClinical.includes(cohort) && availableBuild[build].includes(cohort) ? null : true">Clinical Filtering</a>
        <a routerLink="/beacon" routerLinkActive="is-active">Beacon</a>
        <a [ngClass]="{'is-active': termsLinkActive}" (click)="toggleTerms($event)">
            <div class="terms-link">
                <span class="label">About</span>
                <i *ngIf="!termsDropdown" class="material-icons">keyboard_arrow_down</i>
                <i *ngIf="termsDropdown" class="material-icons">keyboard_arrow_up</i>
            </div>
            <div *ngIf="termsDropdown" [ngClass]="['terms', 'dropdown']">
                <div class="dropdown-item" (click)="goToAbout($event)">SGC</div>
                <div class="dropdown-item" (click)="goToAboutVA($event)">Vectis</div>
            </div>
        </a>
        <a [ngClass]="{'is-active': termsLinkActive}" (click)="toggleTerms2($event)">
            <div class="terms-link">
                <span class="label">Data access</span>
                <i *ngIf="!termsDropdown2" class="material-icons">keyboard_arrow_down</i>
                <i *ngIf="termsDropdown2" class="material-icons">keyboard_arrow_up</i>
            </div>
            <div *ngIf="termsDropdown2" [ngClass]="['terms', 'dropdown']">
                <div class="dropdown-item" (click)="goToMgrbTerms($event)">MGRB</div>
            </div>
        </a>
        <a *ngIf="auth.authenticated() && auth.hasAnalyticsAccess()" routerLink="/analytics" routerLinkActive="is-active">Cohort Use</a>
        <a *ngIf="!auth.authenticated()" class="sign-up">
            <a (click)="auth.login()">Log in</a>
            <div class="spacer">|</div>
            <a (click)="auth.signUpPage()">Sign up</a>
            <span class="terms-link">
                <div class="empty">
                </div>
            </span>
        </a>
        <span *ngIf="auth.authenticated()" [ngClass]="{'is-active': termsLinkActive}" (click)="toggleUser($event)" class="avatar-link">
            <span class="terms-link">
                <div class="avatar-frame">
                    <img *ngIf="userPicture" [src]="userPicture" />
                </div>
            </span>
            
            <div *ngIf="userDropdown" [ngClass]="['user', 'dropdown-user']">
                <!--<div class="dropdown-item" [routerLink]="['/profile']">Profile</div>-->
                <div class="dropdown-item" (click)="auth.logout()">Log out</div>
            </div>
        </span>
    </nav>
</div>
