.footer {
    width: 100%;
    display: flex;
    background-color: white;
    border-top: 1px solid lightgrey;
}

.footer img {
    height: auto;
}

.footer .logo {
    display: flex;
    align-items: center;
}

.label {
    font-size: small;
}

.container {
    padding: 1rem 3rem 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.gap {
    width: 20%;
    min-width: 220px;
}

.middle-gap {
    width: 40%;
}

.garvan-logo{
    width: 70px;
    vertical-align: middle;
}
.gap{
    margin-right: 5px;
}

@media (min-width: 0px) and (max-width: 1200px) {

    .label {
        margin-left: 5px;
        margin-right: 5px;
    }
}
