<div class="footer">
    <div class="container">
        <span class="gap"></span>
        <div>
            <!--<a class="label" (click)="goToCohortAuthor()" target="_blank">Cohort Authors</a>
            <span> | </span>-->        
            <a class="label" href="https://github.com/vectis-lab" target="_blank"> Vectis Laboratories</a>
            <span> | </span>
            <a class="label" href=" https://www.garvan.org.au/research/kinghorn-centre-for-clinical-genomics/research-programs/informatics" target="_blank"><img class="garvan-logo" src="assets/logos/garvan-logo-white.png"></a> 
        </div>
        <span class="middle-gap"></span>
        <span class="label copyright">Copyright © {{ year }}</span>
    </div>
</div>
