.genes-text {
    margin-left: 5px;
}

.label-panel{
    color: rgba(0, 0, 0, 0.40);
    font-size: 11px;
}

ul {
    list-style-type: none;
    padding-left: 5px;
}

.mat-standard-chip {
    min-height: 22px;
}

.high {
    color: green;
    border-style: none none solid none;
    border-color: green;
}

.moderate {
    color: #ff9900;
    border-style: none none solid none;
    border-color: #ff9900;
}

.low {
    color: #ff1a1a;
    border-style: none none solid none;
    border-color: #ff1a1a;
}

.gene-list-container{
    width: 190px;
    height: 120px;
    overflow-y: scroll;
    margin-bottom: 20px;
    color: #bfbfbf;
}

li {
    margin-top: 4px !important;
}