<app-page-container>
    <section class="about">
        <article>
            <div class="content">
                <h1 class="title">About</h1>
                <p>
                        Our vision is to see autistic people empowered to use their diverse strengths and interests. Our mission is to motivate, facilitate and translate collaborative autism research, across the life-span and the spectrum, underpinned by inclusive practices. Our programs take a whole-of-life view from diagnosis and the early years, through the school years and into adult life. We are committed to inclusive research practices and co-production of outcomes with those on the spectrum and their families to ensure our research provides practical and tangible outputs that benefit the community.
                </p>

                <p>
                        Autism CRC was established in 2013 and is the world’s first national, cooperative research effort focused on autism. We provide the national capacity to develop and deliver evidence-based outcomes through our unique collaboration with the autism community, research organisations, industry and government. Currently, we have 56 participant organisations and other partners based around Australia and internationally.
                </p>
            </div>
        </article>
        <!--<h1 class="title">Rare Disease Flagships</h1>
        <div class="band-flex">
            <app-cohorts></app-cohorts>
        </div>-->
        <mat-grid-list cols="4" rowHeight="3:1">
                <mat-grid-tile class="content-footer" colspan="2" rowspan="1">
                    <h1 class="title">Contact Us</h1>
                </mat-grid-tile>
                <mat-grid-tile class="content-footer" colspan="2" rowspan="1">
                        <h1 class="title">Partners</h1>
                    </mat-grid-tile>
                <mat-grid-tile class="content-footer" colspan="2" rowspan="2">
                    <div>
                        <p>Phone: (000) 0000 0000</p>
                        <p>Email: test@test.org.au</p>
                        <p>123 Somewhere St</p>
                        <p>Somewhere, NSW 1234,</p>
                        <p>Australia</p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="content-footer" colspan="1" rowspan="2">
                        <div style="display:block;">
                            <div class="partner-logo">
                                <a href="http://www.garvan.org.au/research/kinghorn-centre-for-clinical-genomics/clinical-genomics"
                                    target="_blank"><img src="assets/logos/garvan-logo.png" [ngStyle]="{maxHeight: '75px'}"></a>
                            </div>
                            <div class="partner-logo">
                                    <a href="http://www.garvan.org.au/research/kinghorn-centre-for-clinical-genomics/clinical-genomics"
                                        target="_blank"><img src="assets/logos/garvan-logo.png" [ngStyle]="{maxHeight: '75px'}"></a>
                                </div>
                        </div>
                </mat-grid-tile>
                <mat-grid-tile class="content-footer" colspan="1" rowspan="2">
                    <div style="display:block;">
                            <div class="partner-logo">
                                <a href="http://www.garvan.org.au/research/kinghorn-centre-for-clinical-genomics/clinical-genomics"
                                    target="_blank"><img src="assets/logos/garvan-logo.png" [ngStyle]="{maxHeight: '75px'}"></a>
                            </div>
                            <div class="partner-logo">
                                <a href="http://www.garvan.org.au/research/kinghorn-centre-for-clinical-genomics/clinical-genomics"
                                    target="_blank"><img src="assets/logos/garvan-logo.png" [ngStyle]="{maxHeight: '75px'}"></a>
                            </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>

    </section>
</app-page-container>
