<app-page-container>
    <section class="about">
        <article>
            <div class="content">
                <h1 class="title">Australian Autism Biobank</h1>
                <p>
                    Autism CRC’s Australian Autism Biobank is a long awaited resource that is increasing our knowledge of the autism spectrum and co-occurring conditions.
                </p>
                <p>
                    Almost 3,000 autistic and non-autistic children and adults participated from across Australia. From our participants we collected 4,500 biological samples, as well as behavioural and questionnaire data. The majority of participants were primary school aged. From our child participants, we collected samples for blood, urine, stool and hair. We also collected blood samples from parent participants.
                </p>
                <p>
                    In 2021, the generation of whole genome sequencing data for more than 1,500 participants were made available for national and international research. This includes sequencing from 437 families (autistic child/ren, non-autistic siblings, mother and father) who participated in the Australian Autism Biobank between 2014 and 2018.
                </p>
                <p>
                    The combination of comprehensive phenotypic and biological information makes the Australian Autism Biobank a unique and valuable international asset.
                </p>
                <p>
                    <b>Researchers can now apply to use the materials for approved research purposes.</b> Information for researchers, including FAQs, application forms, study protocol, fee schedule and the data and access sharing policy can be found out the Autism CRC website at <a href="https://www.autismcrc.com.au/biobank" target="_blank">https://www.autismcrc.com.au/biobank</a>.
                </p>
                <h1 class="title">Autism CRC</h1>
                <p>
                    Autism CRC was established in 2013 and is the world’s first national, cooperative research effort focused on autism. We provide the national capacity to develop and deliver evidence-based outcomes through our unique collaboration with the autism community, research organisations, industry and government.
                </p>
                <p>
                    Our vision is to see autistic people empowered to use their diverse strengths and interests. Our mission is to motivate, facilitate and translate collaborative autism research, across the life-span and the spectrum, underpinned by inclusive practices. Our programs take a whole-of-life view from diagnosis and the early years, through the school years and into adult life. We are committed to inclusive research practices and co-production of outcomes with those on the spectrum and their families to ensure our research provides practical and tangible outputs that benefit the community.   
                </p>
                <h1 class="title">Contact Us</h1>
                <div>
                    <p>Email: <a href="mailto:biobank@autismcrc.com.au">biobank@autismcrc.com.au</a></p>
                    <p>Phone: +61 7 3377 0600</p>
                    <p><a href="https://www.autismcrc.com.au/biobank" target="_blank">www.autismcrc.com.au/biobank</a></p>
                </div>
                <h1 class="title">Thank you!</h1>
                <p>
                    Autism CRC would like to thank the children on the autism spectrum, their siblings and parents and other children who generously contributed their time and data/samples for the Australian Autism Biobank. We acknowledge and thank the various sites and their staff who supported the establishment of the Australian Autism Biobank. See our website for more details <a href="https://www.autismcrc.com.au/biobank" target="_blank">www.autismcrc.com.au/biobank</a>.
                </p>
            </div>
        </article>
    </section>
</app-page-container>
