<div class="option">
    <div class="selected-option" (click)="showOptions = showOptions ? false : true"><span>{{ option.display() }}</span><i class="material-icons">arrow_drop_down</i></div>
    <div *ngIf="showOptions" class="options">
        <div *ngFor="let option of option.allOptions(); let i = index;"
             (mousedown)="selectOption(option); showOptions = false">
            <span class="name" *ngIf="cohortAccess.includes(option)">{{ option === 'Circa' ? option.toUpperCase() : option }} {{ cohortSamplesInfo[option] !== null ? "(" + cohortSamplesInfo[option]['gen'] + " samples)" : ""}}</span>
            <span class="name-disabled" *ngIf="!cohortAccess.includes(option)">{{ option === 'Circa' ? option.toUpperCase() : option }} {{ cohortSamplesInfo[option] !== null ? "(" + cohortSamplesInfo[option]['gen'] + " samples)" : ""}}</span>
        </div>
    </div>
</div>

