<div class="option">
    <div class="selected-option" (click)="showBuiltOptions = showBuiltOptions ? false : true"><span>{{ buildOption.display() }}</span><i class="material-icons">arrow_drop_down</i></div>
    <div *ngIf="showBuiltOptions" class="options-build">
        <div *ngFor="let option of buildOption.allOptions(); let i = index;"
                (mousedown)="selectBuilt(option); showBuiltOptions = false">
                <span class="name" *ngIf="availableBuild[option].length > 0">{{ option }}</span>
                <span class="name-disabled" *ngIf="availableBuild[option].length === 0">{{ option }}</span>
        </div>
    </div>
</div>
<mat-icon 
*ngIf="totalSamplesGen"
class="cohort-information"
[matTooltip]="cohort + '\n ' + totalSamplesGen + ' samples sequenced' + '\n' +  totalSamplesPhen + ' samples with phenotypes '"
[matTooltipPosition]="'left'"
[matTooltipClass]="'cohort-info'"
>help_outline</mat-icon>
<div class="option">
    <div class="selected-option" (click)="showOptions = showOptions ? false : true"><span>{{ option.display() }}</span><i class="material-icons">arrow_drop_down</i></div>
    <div *ngIf="showOptions" class="options">
        <div *ngFor="let option of option.allOptions(); let i = index;"
             (mousedown)="selectOption(option); showOptions = false">
            <span class="name" *ngIf="cohortAccess.includes(option) && availableBuild[build].includes(option)">{{ option }} 
                <span *ngIf="cohortSamplesInfo[option] !== null">
                    (
                    <span *ngIf="cohortSamplesInfo[option]['wgs'] > 0">{{cohortSamplesInfo[option]['wgs']}} WGS</span>
                    <span *ngIf="cohortSamplesInfo[option]['wgs'] > 0 && cohortSamplesInfo[option]['wes'] > 0"> & </span>
                    <span *ngIf="cohortSamplesInfo[option]['wes'] > 0">{{cohortSamplesInfo[option]['wes']}} WES</span>
                    )
                </span>
            </span>
            <span class="name-disabled" *ngIf="!cohortAccess.includes(option) || !availableBuild[build].includes(option)">{{ option }} 
                <span *ngIf="cohortSamplesInfo[option] !== null">
                    (
                    <span *ngIf="cohortSamplesInfo[option]['wgs'] > 0">{{cohortSamplesInfo[option]['wgs']}} WGS</span>
                    <span *ngIf="cohortSamplesInfo[option]['wgs'] > 0 && cohortSamplesInfo[option]['wes'] > 0"> & </span>
                    <span *ngIf="cohortSamplesInfo[option]['wes'] > 0">{{cohortSamplesInfo[option]['wes']}} WES</span>
                    )
                </span>
            </span>
        </div>
        <div (mousedown)="goToAboutVA()">
            <span class="name">Access more cohorts...</span>
        </div>
    </div>
</div>

