<app-page-container>
  <section class="about">
      <article>
          <div class="content">
              <h1 class="title">About Variant Atlas</h1>
              <p>
                Variant Atlas is a controlled-access, web-based interface for querying genomic and phenotypic data for cohorts in the Australian Genomics Health Alliance (Australian Genomics). 
              </p>
              <p>
                    Variant Atlas is hosted by the Garvan Institute of Medical Research. 
              </p>
              <p>
                The platform combines participants genomic, and links a participant’s variant data to a selection of clinical information collected at recruitment. With this, approved users can explore genomic characteristics at the cohort-level, query specific genes or variants of interest across a cohort, and explore variants in subgroups with specific clinical phenotypes.
							</p>
							<h1 class="sub-title">Summary - Explore - Clinical Filtering - Beacon</h1>
							<mat-tab-group mat-align-tabs="center">
								<mat-tab label="Summary">      
									<div class="page-container">
										<h3 class="page-desc">'Summary': Discover and compare interactive summary data on genes and variants in a Flagship</h3>
										<img class="screenshot" src="assets/vascreenshot/agha-summary.png"/>
									</div>
								</mat-tab>
								<mat-tab label="Explore">      
									<div class="page-container">
										<h3 class="page-desc">'Explore': Explore genes and variants across the Flagship</h3>
										<img class="screenshot" src="assets/vascreenshot/agha-explore.png"/>
									</div>
								</mat-tab>
								<mat-tab label="Clinical Filtering">
									<div class="page-container">
										<h3 class="page-desc">'Clinical Filtering': Filter patient data according to clinical traits*</h3>
										<img class="screenshot" src="assets/vascreenshot/agha-clinical.png"/>
										<div class="footnote">*Restricted Access</div>
									</div>
								</mat-tab>
								<mat-tab label="Beacon">
									<div class="page-container">
											<h3 class="page-desc">'Beacon': Query the world's cohort datasets for specific variants</h3>
											<img class="screenshot" src="assets/vascreenshot/agha-beacon.png"/>
										</div>
								</mat-tab>
							</mat-tab-group>
							<h1 class="sub-title">How do I request access to Australian Genomics data in Variant Atlas?</h1>
              <p>
                Register for access to 'Summary' and 'Explore' Aggregated data here: <a target="_blank" href="https://redcap.mcri.edu.au/surveys/?s=7XCNK3CTM4">Registration Form</a>
							</p>
							<p>
								For other access queries please contact <a href="mailto:datarequest@australiangenomics.org.au">datarequest@australiangenomics.org.au</a>
							</p>
							<table style="width:50%; margin: 0 auto">
								<tr>
									<th align="left">VARIANT ATLAS SECTION</th>
									<th align="left">ACCESS TYPE</th>
									<th></th>
								</tr>
								<tr>
									<td class="bold">Summary</td>
									<td>Registered Access</td>
									<td></td>
								</tr>
								<tr>
									<td class="bold">Explore</td>
									<td>Registered Access</td>
									<td></td>
								</tr>
								<tr>
									<td class="bold">Clinical Filtering</td>
									<td>Restricted</td>
									<td>[Currently Internal Only]</td>
								</tr>
								<tr>
									<td class="bold">Beacon</td>
									<td>Open Access</td>
									<td></td>
								</tr>
							</table>
							<h1 class="sub-title">Demo data and instructions</h1>
							<p>
								An instruction video on how to use Variant Atlas is available here: <a target="_blank" href="https://drive.google.com/file/d/1te88T1ry3utRRUrEDFU1fv-7HoVvgvnJ/view">Demo Video</a>
							</p>
							<p>
								An open-access Demo dataset is available on Variant Atlas for anyone to explore: <a href="https://variantatlas.org.au/explore/Demo">Demo Data</a>
							</p>
          </div>
      </article>
  </section>
</app-page-container>
