<app-page-container>
  <section class="about">
      <article>
          <div class="content">
              <h1 class="title">About Vectis</h1>
							<h1 class="sub-title">Summary - Explore - Clinical Filtering - Beacon</h1>
							<mat-tab-group mat-align-tabs="center">
								<mat-tab label="Summary">      
									<div class="page-container">
										<h3 class="page-desc">'Summary': Discover and compare interactive summary data on genes and variants in a Flagship</h3>
										<img class="screenshot" src="assets/vascreenshot/autism-summary.png"/>
									</div>
								</mat-tab>
								<mat-tab label="Explore">      
									<div class="page-container">
										<h3 class="page-desc">'Explore': Explore genes and variants across the Flagship</h3>
										<img class="screenshot" src="assets/vascreenshot/autism-explore.png"/>
									</div>
								</mat-tab>
								<mat-tab label="Clinical Filtering">
									<div class="page-container">
										<h3 class="page-desc">'Clinical Filtering': Filter patient data according to clinical traits*</h3>
										<img class="screenshot" src="assets/vascreenshot/autism-clinical.png"/>
										<div class="footnote">*Restricted Access</div>
									</div>
								</mat-tab>
								<mat-tab label="Beacon">
									<div class="page-container">
											<h3 class="page-desc">'Beacon': Query the world's cohort datasets for specific variants</h3>
											<img class="screenshot" src="assets/vascreenshot/autism-beacon.png"/>
										</div>
								</mat-tab>
							</mat-tab-group>
							<h1 class="sub-title">How do I request access to Autism CRC data in Vectis?</h1>
              <p>
                Register for access through <a target="_blank" href="https://rems.public.garvan.org.au/">REMS</a>
							</p>
							<p>
								For other access queries please contact <a href="mailto:sgc@garvan.org.au">sgc@garvan.org.au</a>
							</p>
							<h1 class="sub-title">Demo data</h1>
							<p>
								An open-access Demo dataset is available on Vectis for anyone to explore: <a href="{{environment.vectisDomain}}/explore/Demo">Demo Data</a>
							</p>
          </div>
      </article>
  </section>
</app-page-container>
