.charts {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.filter-option {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.filter-label {
    min-width: 235px;
}

.filter-option mat-slide-toggle {
    height: auto;
    margin-left: 5px;
}

.filter-button:hover {
    background-color: white;
}

.dc-data-count {
    margin: 0;
}

mat-icon {
    cursor: pointer;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.material-icons{
    font-size: 20px;
}

.dc-data-count .total-count {
    font-weight: normal !important;
}

.dc-data-count .filter-count {
    font-weight: normal !important;
}

.toggle-charts-container{
    width: 650px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.charts-control-container{
    margin: 50px 0 0 10%;
}