.gene-detail-values, .gene-detail-value, .detail-value {
    display: flex;
    font-weight: lighter;
    flex-wrap: wrap;
    align-items: flex-end;
}

.gene-detail-value .separator {
    margin-right: 10px;
}

.mat-icon{
    height:16px !important;
    width:16px !important;
    font-size:16px !important;
    vertical-align: top !important;
}

.mat-icon-button{
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
    line-height: 20px !important;
}