.initiatives {
    display: flex;
    flex-wrap: wrap;
    top: 10em;
    position: relative;
}

.band {
    margin-top: 1%;
    width: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    /*height: 170px;*/
}

.logoAbbreviation{
    font: arial;
    display: block;
    font-size: 3vw;
    font-weight: 700;
    color: var(--font-color);
    /*height: 100px;*/
}
    

.logoName{
    display: block;
    font-size: 1.5vw;
    color: var(--font-color);
}