.initiatives {
    display: flex;
    flex-wrap: wrap;
    top: 6em;
    position: relative;
}

.band {
    margin-top: 1%;
    width: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.logoAbbreviation{
    display: block;
    font-size: 5vw;
    font-weight: 700;
    color: #07607a;
    letter-spacing: 1.28em;
    height: 100px;
}
    

.logoName{
    display: block;
    font-size: 1.5vw;
    color: #07607a;
}