<nav>
    <a routerLink="/search" routerLinkActive="is-active" [class.disabled]="cohortAccessSummary.includes(cohort) ? null : true">SUMMARY</a>
    <a [routerLink]="['/explore', cohort]" routerLinkActive="is-active" [class.disabled]="cohortAccessSummary.includes(cohort) ? null : true">EXPLORE</a>
    <a *ngIf="!isMobile" routerLink="/clinical" routerLinkActive="is-active" [class.disabled]="cohortAccessClinical.includes(cohort) ? null : true">CLINICAL FILTERING</a>

    <a routerLink="/beacon" routerLinkActive="is-active">BEACON</a>
    <a routerLink="/about" routerLinkActive="is-active">ABOUT</a>
    <a [ngClass]="{'is-active': termsLinkActive}" (click)="toggleTerms($event)">
        <div class="terms-link">
            <span class="label">DATA ACCESS</span>
            <i *ngIf="!termsDropdown" class="material-icons">keyboard_arrow_down</i>
            <i *ngIf="termsDropdown" class="material-icons">keyboard_arrow_up</i>
        </div>
    </a>
    <a *ngIf="termsDropdown" class="terms-dropdown" (click)="goToMgrbTerms($event)">MGRB</a>
    <div *ngIf="!auth.authenticated()" class="sign-up">
        <a (click)="auth.login()">LOG IN</a>
        <div class="spacer">|</div>
        <a (click)="openSignUpDialog()">SIGN UP</a>
    </div>
    <a (click)="auth.logout()" *ngIf="auth.authenticated()">LOG OUT</a>
</nav>


